[Player]
player_name = 1104

[Authentication]
enabled = true
test_username = testuser

[Crowd]
server = replace_me:port
application_name = replace_me
password = replace_me

[Database]
url = mysql://root@localhost/acoustics2

[Artwork]
art_path = replace_me
