<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beats by ACM</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="beats.css">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-container" ng-app ng-controller="BeatsController">
      <div class="list-area">
        <div class="side-area">
          <ul class="playlists">
            <li ng-repeat="section in sections"><span data-icon="{{ section.icon }}"></span>{{ section.title }}</li>
          </ul>
          <hr />
          <ul class="playlists">
            <li ng-repeat="playlist in playlists"><span data-icon="&#xf001;"></span>{{ playlist.title }}</li>
          </ul>
        </div>
        <div class="playlist-area">
          <table class="playlist">
            <thead>
              <tr><th>Vote</th><th>Track</th><th>Title</th><th>Album</th><th>Artist</th><th>Length</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="song in playlist track by $index">
                <td style="text-align: center"><span data-icon="{{ ['\uf00c', '\uf067'][song.vote ? 0 : 1] }}"></span></td>
                <td>{{ song.trackNum }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.albumTitle }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.length }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="control-area">
        <div class="control" title="Play" data-icon="&#xf04b;"></div>
        <div class="control" title="Stop" data-icon="&#xf04d;"></div>
        <div class="control" title="Skip" data-icon="&#xf051;"></div>
        <div class="control label" title="Volume" data-icon="&#xf028;"></div>
        <div class="control bar volume" title="Volume">
          <div class="cover" style="width: {{ volumePercentage * 100 }}%"></div>
          <div class="handle" style="left: {{ volumePercentage * 100 }}%"></div>
        </div>
        <div class="control label" title="Track">0:{{ playbackTime }}</div>
        <div class="control bar track" title="Track">
          <div class="cover" style="width: {{ playbackTime / playbackDuration * 100 }}%"></div>
        </div>
      </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="beats.js"></script>
  </body>
</html>
