[Authentication]
enabled = true
test_username = testuser

[Crowd]
server = replace_me:port
application_name = replace_me
password = replace_me

[Database]
url = mysql://root@localhost/acoustics2

[YouTube]
api_key = replace_me
