* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-family: 'Open Sans'; }

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'FontAwesome';
  font-size: 130%;
  margin-right: .5em;
  speak: none; }

[data-image-icon]:before {
  content: attr(data-image-icon);
  font-family: 'FontAwesome';
  speak: none; }

[data-image-icon='\f110'] {
  display: inline-block;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear; }

.cursor-pointer {
  cursor: pointer; }

.dialog-container {
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10; }

.dialog-area {
  background-color: white;
  box-shadow: 0 0 17px 3px black;
  padding: 8px; }
  .dialog-area.top {
    border-radius: 0 0 4px 4px; }
  .dialog-area.center {
    align-self: center;
    border-radius: 4px; }
  .dialog-area input, .dialog-area button {
    display: block;
    margin: 4px;
    padding: 4px; }
  .dialog-area button {
    border-radius: 4px;
    border: none;
    color: white;
    display: inline;
    float: right;
    padding: 8px;
    text-shadow: 1px 1px 1px black; }
  .dialog-area .confirm {
    background-color: #448AA6; }
  .dialog-area .cancel {
    background-color: #d44637; }

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* So the container takes the full height with scrolling */
  min-height: 100%;
  /* So the container takes the full height without scrolling */
  width: 100%; }

.top-area {
  align-items: center;
  background: linear-gradient(to bottom, #383838 0%, #222 100%);
  border-bottom: 1px solid #333;
  display: flex;
  flex: 1;
  max-height: 50px;
  min-height: 50px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: 5; }
  .top-area img {
    height: 40px;
    opacity: 0.4;
    margin-left: auto;
    margin-right: 8px; }

.middle-area {
  background-color: red;
  display: flex;
  flex: 10;
  width: 100%; }

.side-area {
  background: linear-gradient(to bottom, #444 0%, #333 100%);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  min-height: 100%;
  min-width: 150px;
  position: relative;
  z-index: 1; }

.playlists {
  margin-top: 8px;
  overflow-y: auto; }
  .playlists hr {
    border-color: #888;
    margin: 4px 0; }
  .playlists li {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    cursor: default;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    list-style-image: none;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-top: 4px;
    position: relative; }
    .playlists li:hover {
      background: #448AA6; }
    .playlists li.dragover {
      background: #448AA6; }

.playlist-area {
  background-color: #444;
  box-shadow: 0 0 17px 3px black;
  flex: 5;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 2; }

.albumgrid-area {
  align-items: flex-start;
  background-color: #444;
  box-shadow: 0 0 17px 3px black;
  color: white;
  cursor: default;
  flex: 5;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 2; }
  .albumgrid-area li {
    display: block;
    float: left;
    height: 220px;
    margin: 10px;
    padding: 10px;
    width: 150px; }
    .albumgrid-area li .art {
      box-shadow: 0 0 10px 0 black;
      max-height: 150px;
      max-width: 150px; }
    .albumgrid-area li .album-name {
      font-size: 15px;
      height: 50px;
      width: 150px;
      text-shadow: 1px 1px 1px black; }
    .albumgrid-area li:hover {
      background: #448AA6;
      box-shadow: 0 0 10px 0 black; }

table.playlist {
  border-collapse: collapse;
  color: white;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: 300;
  table-layout: fixed;
  width: 100%; }
  table.playlist thead {
    background: linear-gradient(to bottom, #448AA6 0%, #356B8C 100%); }
  table.playlist th {
    padding: 4px;
    border-right: 1px solid black; }
  table.playlist th:last-child {
    border: none; }
  table.playlist tr:nth-child(even) {
    background-color: #666; }
  table.playlist td, table.playlist th {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px; }
  table.playlist .dragover td {
    box-shadow: inset 0 8px 0 -4px #AAA; }

.queue-area {
  background-color: #222;
  box-shadow: 0 0 17px 3px black;
  flex: 1;
  min-width: 150px;
  overflow: auto;
  position: relative;
  z-index: 3; }
  .queue-area.dragover::before {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    content: '\f067';
    display: flex;
    font-family: 'FontAwesome';
    font-size: 100px;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    text-shadow: 0 0 20px white;
    width: 100%;
    z-index: 10; }
  .queue-area .album-art {
    pointer-events: none;
    width: 100%;
    margin-bottom: -70px; }
    .queue-area .album-art img {
      height: 100%;
      width: 100%; }
  .queue-area .song-queue li {
    border-bottom: 1px solid #333;
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    list-style-image: none;
    padding-left: 32px;
    position: relative;
    height: 65px; }
    .queue-area .song-queue li:first-child {
      background: rgba(0, 0, 0, 0.5); }
  .queue-area .song-queue .title, .queue-area .song-queue .album, .queue-area .song-queue .artist, .queue-area .song-queue .user {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; }
  .queue-area .song-queue .album, .queue-area .song-queue .artist, .queue-area .song-queue .user {
    font-size: 10px;
    font-weight: 400; }
  .queue-area .song-queue .vote {
    left: 8px;
    position: absolute;
    top: 23px;
    cursor: pointer; }

.bottom-area {
  align-items: center;
  background: linear-gradient(to bottom, #444 0%, #333 100%);
  border-top: 1px solid #333;
  box-shadow: 0 0 17px 3px black;
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-height: 64px;
  min-height: 30px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: 5; }

.equalizer.row-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  vertical-align: middle;
  margin: 20px; }
  .equalizer.row-container.right-aligned {
    align-items: flex-end; }
.equalizer.row-filler {
  width: 100%; }
.equalizer.preset.label {
  margin-left: 20px;
  margin-right: 10px; }
.equalizer.preset.selector {
  width: 100px; }
.equalizer.preamp.label {
  width: 120px; }
  .equalizer.preamp.label.db {
    text-align: right; }
.equalizer.band.ctrl-area {
  text-align: center;
  width: 65px; }
.equalizer.band.label {
  margin-top: 15px; }

.control {
  color: #D0D9E5;
  cursor: default; }
  .control:first-child {
    padding-left: 22px; }
  .control:last-child {
    padding-right: 22px; }
  .control.button {
    font-size: 12px;
    margin: 0 10px;
    text-shadow: 1px 1px 1px black;
    transition: text-shadow 0.2s, box-shadow 0.2s; }
    .control.button:hover {
      text-shadow: 0 0 4px #D0D9E5; }
  .control.rect-button {
    background: #555;
    border-radius: 4px;
    border: 1px solid #222;
    color: white;
    padding: 6px;
    margin-left: 8px; }
    .control.rect-button:focus {
      outline: none; }
    .control.rect-button:active {
      background: #448AA6; }
  .control.label {
    font-family: Arial;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px; }
    .control.label.large {
      font-size: 22px; }
  .control input {
    border-radius: 12px;
    border: 1px solid #777;
    color: black;
    cursor: auto;
    font-size: 14px;
    padding: 4px;
    text-shadow: none; }
    .control input:focus {
      outline: none; }
    .control input:hover {
      box-shadow: 0 0 4px #D0D9E5; }
  .control.bar {
    background: linear-gradient(to bottom, #AAA 0%, #FFF 100%);
    border-radius: 5px;
    border: 1px solid #444;
    height: 10px;
    position: relative; }
    .control.bar.as-vertical {
      height: none;
      width: 10px; }
    .control.bar.as-toggle {
      height: 18px; }
      .control.bar.as-toggle.as-vertical {
        height: none;
        width: 18px; }
    .control.bar:hover {
      box-shadow: 0 0 4px #D0D9E5; }
    .control.bar .cover {
      background-color: #448AA6;
      border-radius: 4px;
      height: 10px;
      position: absolute; }
      .control.bar .cover.as-vertical {
        height: none;
        width: 10px; }
      .control.bar .cover.as-toggle {
        height: 18px; }
        .control.bar .cover.as-toggle.as-off {
          background-color: #900; }
        .control.bar .cover.as-toggle.as-on {
          background-color: #360; }
        .control.bar .cover.as-toggle.as-vertical {
          height: none;
          width: 18px; }
    .control.bar .handle {
      background: linear-gradient(to bottom, #7e868c 0%, #374044 100%);
      border-radius: 8px;
      border: 1px solid #444;
      box-shadow: 0 0 2px black;
      height: 16px;
      margin-left: -8px;
      margin-top: -4px;
      position: relative;
      transition: box-shadow 0.1s;
      width: 16px; }
      .control.bar .handle.as-toggle {
        background: linear-gradient(to bottom, #AAA 0%, #FFF 100%);
        border-radius: 2px;
        margin-top: 0px; }
      .control.bar .handle.as-vertical {
        margin-left: -4px;
        margin-right: -8px; }
      .control.bar .handle:hover {
        box-shadow: 0 0 4px #D0D9E5; }
  .control.volume {
    width: 150px; }
  .control.equalizer-bars {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto; }
    .control.equalizer-bars.on-off {
      width: 50px; }
    .control.equalizer-bars.preamp {
      width: 100%; }
    .control.equalizer-bars.band {
      height: 250px; }
  .control.track {
    width: 100%; }
  .control.current-time-label {
    margin-left: 16px;
    margin-right: 16px; }

/*# sourceMappingURL=beats.css.map */
