$area-shadow: 0 0 17px 3px black;
$item-shadow: 0 0 10px 0 black;
$text-highlight-shadow: 1px 1px 1px black;
$hover-blur: 0 0 4px #D0D9E5;
$blue: #448AA6;
$red: #900;
$green: #360;

@mixin ellipsis-overflow() {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    font-family: 'Open Sans';
}

[data-icon]:before {
    content: attr(data-icon);
    font-family: 'FontAwesome';
    font-size: 130%;
    margin-right: .5em;
    speak: none;
}

// Use this one when the icon is not part of text
[data-image-icon]:before {
    content: attr(data-image-icon);
    font-family: 'FontAwesome';
    speak: none;
}

[data-image-icon='\f110'] {
    display: inline-block;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

.cursor-pointer {
    cursor: pointer;
}

.dialog-container {
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.dialog-area {
    background-color: white;
    box-shadow: $area-shadow;
    padding: 8px;

    &.top {
        border-radius: 0 0 4px 4px;
    }

    &.center {
        align-self: center;
        border-radius: 4px;
    }

    input, button {
        display: block;
        margin: 4px;
        padding: 4px;
    }

    button {
        border-radius: 4px;
        border: none;
        color: white;
        display: inline;
        float: right;
        padding: 8px;
        text-shadow: $text-highlight-shadow;
    }

    .confirm {
        background-color: $blue;
    }

    .cancel {
        background-color: #d44637;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* So the container takes the full height with scrolling */
    min-height: 100%; /* So the container takes the full height without scrolling */
    width: 100%;
}

.top-area {
    align-items: center;
    background: linear-gradient(to bottom, #383838 0%, #222 100%);
    border-bottom: 1px solid #333;
    display: flex;
    flex: 1;
    max-height: 50px;
    min-height: 50px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 5;

    img {
        height: 40px;
        opacity: 0.4;
        margin-left: auto;
        margin-right: 8px;
    }
}

.middle-area {
    background-color: red;
    display: flex;
    flex: 10;
    width: 100%;
}

.side-area {
    background: linear-gradient(to bottom, #444 0%,#333 100%);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    min-height: 100%;
    min-width: 150px;
    position: relative;
    z-index: 1;
}

.playlists {
    margin-top: 8px;
    overflow-y: auto;

    hr {
        border-color: #888;
        margin: 4px 0;
    }

    li {
        @include ellipsis-overflow();
        color: white;
        cursor: default;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        list-style-image: none;
        padding-bottom: 4px;
        padding-left: 24px;
        padding-top: 4px;
        position: relative;

        &:hover {
            background: $blue;
        }

        &.dragover {
            background: $blue;
        }
    }
}

.playlist-area {
    background-color: #444;
    box-shadow: $area-shadow;
    flex: 5;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 2;
}

.albumgrid-area {
    align-items: flex-start;
    background-color: #444;
    box-shadow: $area-shadow;
    color: white;
    cursor: default;
    flex: 5;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 2;

    li {
        display: block;
        float: left;
        height: 220px;
        margin: 10px;
        padding: 10px;
        width: 150px;

        .art {
            box-shadow: $item-shadow;
            max-height: 150px;
            max-width: 150px;
        }

        .album-name {
            font-size: 15px;
            height: 50px;
            width: 150px;
            text-shadow: $text-highlight-shadow;
        }

        &:hover {
            background: $blue;
            box-shadow: $item-shadow;
        }
    }
}

table.playlist {
    border-collapse: collapse;
    color: white;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: 300;
    table-layout: fixed;
    width: 100%;

    thead {
        background:  linear-gradient(to bottom, #448AA6 0%, #356B8C 100%);
    }

    th {
        padding: 4px;
        border-right: 1px solid black;
    }

    th:last-child {
        border: none;
    }

    tr:nth-child(even) {
        background-color: #666;
    }

    td, th {
        @include ellipsis-overflow();

        padding: 4px;
    }

    .dragover {
        td {
            box-shadow: inset 0 8px 0 -4px #AAA;
        }
    }
}

.queue-area {
    background-color: #222;
    box-shadow: $area-shadow;
    flex: 1;
    min-width: 150px;
    overflow: auto;
    position: relative;
    z-index: 3;

    &.dragover
    {
        // Inserts a full size '+' icon over the queue area with overlay
        &::before {
            align-items: center;
            background: rgba(0, 0, 0, 0.7);
            // box-shadow: inset 0 0 16px 8px $blue;
            color: white;
            content: '\f067';
            display: flex;
            font-family: 'FontAwesome';
            font-size: 100px;
            height: 100%;
            justify-content: center;
            pointer-events: none;
            position: absolute;
            text-shadow: 0 0 20px white;
            width: 100%;
            z-index: 10;
        }

    }

    .album-art {
        pointer-events: none;
        width: 100%;
        margin-bottom: -70px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .song-queue {
        li {
            border-bottom: 1px solid #333;
            color: white;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 700;
            list-style-image: none;
            padding-left: 32px;
            position: relative;
            height: 65px;

            &:first-child {
                background: rgba(0, 0, 0, 0.5)
            }
        }

        .title, .album, .artist, .user {
            @include ellipsis-overflow();
            display: block;
        }

        .album, .artist, .user {
            font-size: 10px;
            font-weight: 400;
        }

        .vote {
            left: 8px;
            position: absolute;
            top: 23px;
            cursor: pointer;
        }
    }
}

.bottom-area {
    align-items: center;
    background: linear-gradient(to bottom, #444 0%, #333 100%);
    border-top: 1px solid #333;
    box-shadow: $area-shadow;
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-height: 64px;
    min-height: 30px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 5;
}

.equalizer {
    &.row-container {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: space-between;
        vertical-align: middle;
        margin: 20px;
        &.right-aligned {
            align-items: flex-end;
        }
    }
    &.row-filler {
        width: 100%;
    }
    &.preset {
        &.label {
            margin-left: 20px;
            margin-right: 10px;
        }
        &.selector {
            width: 100px;
        }
    }
    &.preamp {
        &.label {
            width: 120px;
            &.db {
                text-align: right;
            }
        }
    }
    &.band {
        &.ctrl-area {
            text-align: center;
            width: 65px;
        }
        &.label {
            margin-top: 15px;
        }
    }
}

.control {
    color: #D0D9E5;
    cursor: default;

    &:first-child {
        padding-left: 22px;
    }

    &:last-child {
        padding-right: 22px;
    }

    &.button {
        font-size: 12px;
        margin: 0 10px;
        text-shadow: 1px 1px 1px black;
        transition: text-shadow 0.2s, box-shadow 0.2s;

        &:hover {
            text-shadow: $hover-blur;
        }
    }

    &.rect-button {
        background: #555;
        border-radius: 4px;
        border: 1px solid #222;
        color: white;
        padding: 6px;
        margin-left: 8px;

        &:focus {
            outline: none;
        }

        &:active {

            background: #448AA6;
        }

    }

    &.label {
        font-family: Arial;
        font-size: 12px;
        margin-left: 8px;
        margin-right: 8px;

        &.large {
            font-size: 22px;
        }
    }

    input {
        border-radius: 12px;
        border: 1px solid #777;
        color: black;
        cursor: auto;
        font-size: 14px;
        padding: 4px;
        text-shadow: none;

        &:focus {
            outline: none;
        }

        &:hover {
            box-shadow: $hover-blur;
        }
    }

    &.bar {
        background: linear-gradient(to bottom, #AAA 0%, #FFF 100%);
        border-radius: 5px;
        border: 1px solid #444;
        height: 10px;
        &.as-vertical {
            height: none;
            width: 10px;
        }
        &.as-toggle {
            height: 18px;
            &.as-vertical {
                height: none;
                width: 18px;
            }
        }
        position: relative;

        &:hover {
            box-shadow: 0 0 4px #D0D9E5;
        }

        .cover {
            background-color: $blue;
            border-radius: 4px;
            height: 10px;
            &.as-vertical {
                height: none;
                width: 10px;
            }
            &.as-toggle {
                height: 18px;
                &.as-off {
                    background-color: $red;
                }
                &.as-on {
                    background-color: $green;
                }
                &.as-vertical {
                    height: none;
                    width: 18px;
                }
            }
            position: absolute;
        }

        .handle {
            background: linear-gradient(to bottom, #7e868c 0%, #374044 100%);
            border-radius: 8px;
            &.as-toggle {
                background: linear-gradient(to bottom, #AAA 0%, #FFF 100%);
                border-radius: 2px;
                margin-top: 0px;
            }
            border: 1px solid #444;
            box-shadow: 0 0 2px black;
            height: 16px;
            margin-left: -8px;
            margin-top: -4px;
            &.as-vertical {
                margin-left: -4px;
                margin-right: -8px;
            }
            position: relative;
            transition:  box-shadow 0.1s;
            width: 16px;

            &:hover {
                box-shadow: $hover-blur;
            }
        }
    }

    &.volume {
        width: 150px;
    }

    &.equalizer-bars {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;

        &.on-off {
            width: 50px;
        }

        &.preamp {
            width: 100%;
        }

        &.band {
            height: 250px;
        }
    }

    &.track {
        width: 100%;
    }

    &.current-time-label {
        margin-left: 16px;
        margin-right: 16px;
    }
}
